.movieInfo {
  padding-right: 44%;
}
/* .notification p {
  color: rgb(155, 37, 37);
} */
.movieInfo p {
  margin-top: 4%;
  color: #f5f5f5;
  font-weight: bold;
  font-family: 'Zilla Slab', serif;
}
.movieInfo h2 {
  color: #d9a520;
  text-decoration: none;
}
.movieInfo h6 {
  color: #a9a5a5;
  text-transform: uppercase;
  /* font-family: 'Zilla Slab', serif; */
}

.submitRating {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Zilla Slab', serif;
}
